.info-box {
  padding-top: 5rem;

  .about-area {
    padding-left: 5rem;
    padding-bottom: 3rem;

    .btn {
      height: 3.3rem;
      width: 95%;
      margin: 1rem auto;
      font-size: 22px;
    }
  }

  .icon {
    padding-top: 2.3rem;
  }
}