.info-box-contact{

  height: 50vh;
}
.contact-area {
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 3rem;

  .contact-space {
    padding-left: 8rem;
    padding-right: 8rem;

    .box-contact {
      padding-top: 3.5rem;
      text-align: center;
    }
  }

}