.info-box {
  padding-top: 5rem;

  .text-about {
    padding-left: 5rem;
    padding-bottom: 5rem;

    .btn {
      width: 95%;
      margin: 1rem auto;
    }
  }

  .a {
    padding-top: 3rem;
  }
}