.info-box {
  padding-top: 5rem;

  .about-area {
    padding-left: 5rem;
    padding-bottom: 5rem;

    .btn {
      width: 95%;
      margin: 1rem auto;
    }
  }

  .icon {
    padding-top: 3.3rem;
  }
}