.briefcase-area {
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 5rem;

  .briefcase-space {
    padding-left: 8rem;
    padding-right: 8rem;

    .box-briefcase {
      height: 25vh;
      margin-top: 2rem;
      border: 1px solid #000;
      border-radius: 2rem;
    }
    .aux{
      margin-top: .2rem;
      height: 25vh;
      border: 1px solid #000;
      border-radius: 2rem;
    }
  }

}