@use 'util';

.bgColor{
  transition: all 1s;
  background-color: #121212;
}

.nav-link {
  position: relative;
}

.nav-link::after{
  content: '';
  opacity: 0;
  transition: all 0.3s;
  height: 2px;
  width: 100%;
  background-color: util.$base_color;
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav-link:hover::after{
  opacity: 1;
}
